{% if layout.common-ext-js %}
  {% for js in layout.common-ext-js %}
    {% include ext-js.html js=js %}
  {% endfor %}
{% endif %}

{% if page.ext-js %}
  {% for js in page.ext-js %}
    {% include ext-js.html js=js %}
  {% endfor %}
{% endif %}

{% if page.js %}
  {% for js in page.js %}
	<script src="{{ js | prepend: site.baseurl | replace: '//', '/' }}"></script>
  {% endfor %}
{% endif %}

{% if layout.common-js %}
  {% for js in layout.common-js %}
    <!-- doing something a bit funky here because I want to be careful not to include JQuery twice! -->
    {% if js contains 'jquery' %}
      <script>
      	if (typeof jQuery == 'undefined') {
      	  document.write('<script src="{{ js | prepend: site.baseurl | replace: "//", "/" }}"></scr' + 'ipt>');
      	}
      </script>
    {% else %}
	<script src="{{ js | prepend: site.baseurl | replace: '//', '/' }}"></script>
    {% endif %}
  {% endfor %}
{% endif %}
<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript">
$( document ).ready(function() {
  $(document).keypress(function(event) {
    if(event.which==104){
           window.location.href = "/";
         }
         if(event.which==97){
                window.location.href = "/aboutme";
              }
})});
</script>
<script type="text/javascript" async
 src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<script type="text/x-mathjax-config">
 MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
{% include google_analytics.html %}
