---
import Crispabout from '../components/Crispabout.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import About from './about.astro';  
import Blog from './blog.astro';
const detailedAbout = false;
---
<Crispabout />
<Blog />
<!-- <BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
</BaseLayout> -->