---
---
<div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <span class="has-text-weight-bold is-size-4 has-text-weight-bold has-text-black is-family-secondary">Quantum of Cosmos</span>
          </a>
        </div>
        <div class="navbar-end">
          <a class="navbar-item" href="/">Home</a>
          <a class="navbar-item" href="/about">About</a>
          <a class="navbar-item" href="/blog">Blog</a>
        </div>
      </div>